spring-beans-integration/src/main/mule/spring-beans-integration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7ac79fe9-7902-4fc9-b301-40e7e0f1683b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<spring:config name="Spring_Config" doc:name="Spring Config" doc:id="ae71cd59-58fc-497a-9e1e-179c553e603f" files="beans.xml" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="742090b1-c1f5-4aa1-8d1b-545b5b4f180b" >
		<db:data-source-connection dataSourceRef="mysqlDatasource" />
	</db:config>
	<flow name="spring-beans-integrationFlow" doc:id="609b073a-c378-438b-911c-be13922ec431" >
		<http:listener doc:name="Listener" doc:id="4c3160c3-5deb-4b9a-8aeb-ec8501764bb7" config-ref="HTTP_Listener_config" path="/spring"/>
		<java:invoke doc:name="Invoke" doc:id="52539763-dbc8-4155-af29-7b6895889765" instance="greetingService" class="com.test.spring.GreetingService" method="sayHello(java.lang.String)">
			<java:args ><![CDATA[#[{
	name: "Leela"
}]]]></java:args>
		</java:invoke>
		<ee:transform doc:name="Transform Message" doc:id="4070900d-787d-453d-90b3-b76e37137cbb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="spring-beans-integrationFlow1" doc:id="fb25edeb-85cb-4400-b120-3e73c0772f34" >
		<http:listener doc:name="Listener" doc:id="2b70a11c-0ffc-48aa-aa9c-55cb1a0ae8e3" config-ref="HTTP_Listener_config" path="/spring2"/>
		<java:invoke doc:name="Invoke" doc:id="8e40d714-146b-4c30-840f-ed3d98c3977f" instance="greetingService" class="com.test.spring.GreetingService" method="sayHello()"/>
		<ee:transform doc:name="Transform Message" doc:id="916159be-4034-47ca-b0ea-acee541c9195" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="spring-beans-integrationFlow2" doc:id="bea17521-948d-44f7-b5b0-ad96838d1fe2" >
		<http:listener doc:name="Listener" doc:id="58671978-ac0e-4f7b-a6b6-880fa4bc5aaa" config-ref="HTTP_Listener_config" path="/spring3"/>
		<java:invoke doc:name="Invoke" doc:id="1c6bff50-f743-40e9-83db-cd7847dee481" instance="wishService" class="com.test.spring.WishService" method="wish()"/>
		<ee:transform doc:name="Transform Message" doc:id="32cc4514-a795-4629-aed3-f6cd6d9268a6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="spring-beans-integrationFlow3" doc:id="42d50d11-78c3-4dc1-8aa5-84e053257f92" >
		<http:listener doc:name="Listener" doc:id="96f6f532-a353-4a55-939c-5185c542fd79" config-ref="HTTP_Listener_config" path="/spring/db"/>
		<db:select doc:name="Select" doc:id="b70cf539-c70a-4026-a299-961615af76a2" config-ref="Database_Config">
			<db:sql >SELECT * FROM employee</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="ce8bef2f-0efa-4911-b229-033ac36f0bd1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
